Makefile.in
*.gmo
/ABOUT-NLS
/aclocal.m4
/auto-aux/
/auto-m4/
/autom4te.cache/
/config.h.in
/configure
/po/Makefile.in.in
/po/Makevars
/po/Makevars.template
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/po/libgphoto2-6.pot
/libgphoto2_port/ABOUT-NLS
/libgphoto2_port/INSTALL
/libgphoto2_port/aclocal.m4
/libgphoto2_port/auto-aux/
/libgphoto2_port/auto-m4/
/libgphoto2_port/autom4te.cache/
/libgphoto2_port/config.h.in
/libgphoto2_port/configure
/libgphoto2_port/po/Makefile.in.in
/libgphoto2_port/po/Makevars
/libgphoto2_port/po/Makevars.template
/libgphoto2_port/po/Rules-quot
/libgphoto2_port/po/boldquot.sed
/libgphoto2_port/po/en@boldquot.header
/libgphoto2_port/po/en@quot.header
/libgphoto2_port/po/insert-header.sin
/libgphoto2_port/po/quot.sed
/libgphoto2_port/po/remove-potcdate.sin
/libgphoto2_port/po/libgphoto2_port-9.pot
